In [1]:
import numpy as np
import pandas as pd
import datetime    
import torch
import torch.nn as nn
import torch.utils.data.dataloader
from neural_net import P1_Net, do_train

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPRegressor, MLPClassifier
from sklearn.metrics import mean_squared_error, accuracy_score
from sklearn.utils.validation import column_or_1d

In [2]:
df_city = pd.read_csv("city_attributes.csv")
df_humidity = pd.read_csv("humidity.csv")
df_pressure = pd.read_csv("pressure.csv")
df_temper = pd.read_csv("temperature.csv")
df_descript = pd.read_csv("weather_description.csv")
df_direction = pd.read_csv("wind_direction.csv")
df_speed = pd.read_csv("wind_speed.csv")

In [3]:
max([df_humidity.isna().sum().mean(),
df_pressure.isna().sum().mean(),
df_temper.isna().sum().mean(),
df_direction.isna().sum().mean(),
df_speed.isna().sum().mean()])

np.float64(774.3513513513514)

In [4]:
df_temper.describe(include='all')

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
count,45253,44458.000000,45252.000000,44460.000000,45250.000000,45250.000000,45252.000000,45252.000000,45250.000000,45252.000000,...,45250.000000,44460.000000,45250.000000,45250.000000,44455.000000,44460.000000,44461.000000,44455.000000,44456.000000,44460.000000
unique,45253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2017-11-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,283.862654,284.992929,288.155821,284.409626,290.846116,290.215044,292.424887,295.493358,285.617856,...,285.374168,285.400406,280.343010,283.779823,291.521986,294.512307,296.497276,295.266398,294.094803,293.184253
std,NaN,6.640131,7.452438,5.332862,6.547986,6.460823,5.889992,10.829522,9.916743,9.853484,...,10.242377,10.220932,11.953626,9.802499,7.821815,6.676412,8.852984,6.324566,6.304118,7.093583
min,NaN,245.150000,262.370000,272.300000,263.780000,266.503667,265.783333,260.561333,266.059000,255.042333,...,250.390000,250.774000,243.300000,249.540000,272.179000,271.049000,271.150000,271.150000,268.682000,272.974000
25%,NaN,279.160000,279.850000,284.670000,279.830000,286.380000,286.254750,283.920000,287.680000,277.970000,...,277.350636,277.370000,271.971750,276.090000,285.366623,289.450000,289.734000,290.467333,289.881833,287.524279
50%,NaN,283.450000,284.320000,287.610000,283.940000,290.530000,290.118750,292.027486,295.586667,286.120000,...,285.927583,285.870000,281.109000,284.133250,290.932667,294.900000,296.150000,294.820000,294.150000,292.996000
75%,NaN,288.600785,289.451750,291.015167,288.530000,295.080000,294.107542,300.835000,303.050000,292.835643,...,293.796000,293.760000,290.369583,291.620000,297.270000,299.800000,303.150000,299.660000,298.930000,299.150000
max,NaN,307.000000,312.520000,313.620000,307.300000,315.470000,313.360000,318.640000,321.220000,312.710000,...,308.000000,310.240000,307.880000,308.000000,314.820000,320.930000,320.150000,320.930000,313.150000,317.040000

In [5]:
def group_by_days(df):
    df["date"] = pd.to_datetime(df["datetime"]).dt.date
    df = df.drop('datetime', axis=1)
    df = df.groupby(df["date"]).mean()
    return df

def group_by_days_descript(df):
    df["date"] = pd.to_datetime(df["datetime"]).dt.date
    df = df.fillna('no data')
    df = df.drop('datetime', axis=1)
    df = df.groupby(df["date"]).agg(lambda x: pd.Series.mode(x)[0])
    return df

In [6]:
df_humidity = group_by_days(df_humidity)
df_pressure = group_by_days(df_pressure)
df_temper = group_by_days(df_temper)
df_descript = group_by_days_descript(df_descript)
df_direction = group_by_days(df_direction)
df_speed = group_by_days(df_speed)

In [7]:
encoder = LabelEncoder()
df_descript= df_descript.apply(encoder.fit_transform)

In [8]:
def create_dataframe_for_city(city_name):
    df =  pd.concat([
        df_humidity[city_name], df_pressure[city_name], df_temper[city_name], df_descript[city_name], df_direction[city_name], df_speed[city_name]
    ], axis=1)
    df.columns = ['humidity', 'pressure', 'temperature', 'description', 'wind_direction','wind_speed' ]
    return df

In [9]:
df_Portland  =  create_dataframe_for_city("Portland")
df_Portland

,humidity,pressure,temperature,description,wind_direction,wind_speed
date,,,,,,
2012-10-01,78.727273,1024.000000,282.118197,11,57.727273,0.000000
2012-10-02,65.833333,1023.583333,286.137728,11,214.041667,1.291667
2012-10-03,66.208333,1021.083333,289.599792,2,228.333333,2.625000
2012-10-04,51.166667,1022.875000,286.482500,12,206.750000,4.625000
2012-10-05,40.391304,1022.916667,288.286042,12,182.250000,3.708333
...,...,...,...,...,...,...
2017-11-26,87.625000,1004.500000,281.588333,8,153.750000,4.958333
2017-11-27,92.875000,1015.625000,279.922500,8,158.083333,1.666667
2017-11-28,88.458333,1019.791667,280.085833,8,144.166667,3.041667
2017-11-29,85.500000,1027.625000,279.860833,8,191.125000,2.166667
2017-11-30,76.000000,1029.000000,282.280000,0,340.000000,1.000000

In [10]:
df_speed_2 = pd.read_csv("wind_speed.csv")
df_speed_2["date"] = pd.to_datetime(df_speed_2["datetime"]).dt.date
df_speed_2 = df_speed_2.drop(columns=['datetime'])
df_speed_2 = df_speed_2.groupby('date').apply(lambda group: (group >= 6).any())
strong_wind = pd.concat([
    df_speed_2[city] for city in df_city['City']
])

def add_city_col(df, city):
    df['city'] = city
    return df
all_cities_df = pd.concat([
    add_city_col(create_dataframe_for_city(city), city) for city in df_city['City']
])
all_cities_df['strong_wind'] = strong_wind
all_cities_df['strong_wind'] = all_cities_df['strong_wind'].apply(lambda x: 1 if x else 0)
all_cities_df = all_cities_df.dropna().sort_values('date', kind='stable')

In [11]:
all_cities_df

,humidity,pressure,temperature,description,wind_direction,wind_speed,city,strong_wind
date,,,,,,,,
2012-10-01,78.727273,1024.000000,282.118197,11,57.727273,0.000000,Portland,0
2012-10-01,83.000000,1009.727273,289.416642,14,122.363636,1.636364,San Francisco,0
2012-10-01,78.000000,1030.000000,281.767262,1,32.272727,0.000000,Seattle,0
2012-10-01,88.000000,1013.000000,291.846501,11,0.000000,0.000000,Los Angeles,0
2012-10-01,79.909091,1013.000000,291.573495,11,0.000000,0.000000,San Diego,0
...,...,...,...,...,...,...,...,...
2017-11-30,42.000000,1025.000000,279.190000,12,360.000000,2.000000,Pittsburgh,0
2017-11-30,60.000000,1027.000000,274.510000,17,330.000000,3.000000,Toronto,0
2017-11-30,32.000000,1024.000000,283.420000,11,360.000000,4.000000,Philadelphia,0
2017-11-30,58.000000,1027.000000,271.800000,1,300.000000,4.000000,Montreal,0
2017-11-30,56.000000,1023.000000,280.650000,0,320.000000,2.000000,Boston,0

# Przewidywanie temperatury

In [12]:
def extract_x_y_temperature(df):
    X = df.iloc[:-2].copy()
    y =  df['temperature'].iloc[4:] 

    X.reset_index(inplace= True)
    X = X.drop(columns = ['strong_wind'])
    X['day_of_year'] = pd.to_datetime(X['date']).dt.dayofyear
    X['month'] = pd.to_datetime(X['date']).dt.month

    # X['wind_dir_sin'] = np.sin(X['wind_direction']/360 * 2 * np.pi)
    # X['wind_dir_cos'] = np.cos(X['wind_direction']/360 * 2 * np.pi)
    # X['day_sin'] = np.sin(X['day_of_year']/365 * 2 * np.pi)
    # X['day_cos'] = np.cos(X['day_of_year']/365 * 2 * np.pi)
    # X = X.drop(columns = ['day_of_year'])
    # X = X.drop(columns = ['wind_direction'])

    column_names = X.columns.to_list()
    X = pd.concat([X.iloc[:-2].reset_index(drop=True),X.iloc[1:-1].reset_index(drop=True),X.iloc[2:].reset_index(drop=True)],axis = 1)
    X.columns = column_names + [c + '_1' for c in column_names] + [c + '_2' for c in column_names]
    if 'city_1' in X.columns:
        X = X.drop(columns=['city_1', 'city_2'])
    return X, y

In [63]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

def gen_col_set(col_names):
    return [ final_col
        for col_name in col_names
        for final_col in  [col_name, col_name+"_1", col_name+"_2"] ]

def get_col_transformer_temp(df):
    return ColumnTransformer(
        [
            (
                "standarizer",
                StandardScaler(),
                gen_col_set(
                    ["humidity", "pressure", "temperature", "wind_speed", "wind_direction", "day_of_year"]
                ),
            ),
            (
                "one_hot_encoder", 
                OneHotEncoder(), 
                gen_col_set(
                    ["description", "month"]
                ) + (['city'] if 'city' in df.columns else [])
            ),
        ],
        remainder="passthrough",
    )

def prepare_temperature_data(df):
    groups = df.groupby('city')[df.columns].apply(extract_x_y_temperature)
    X_list = [group[0] for group in groups]
    y_list = [group[1] for group in groups]
    X, y = pd.concat(X_list), pd.concat(y_list)
    X['y'] = y.reset_index(drop=True)
    X = X.sort_values('date',kind='stable')
    y = X['y']
    X = X.drop(columns=['date','date_1','date_2', 'y'])

    X_train, X_test, y_train, y_test = train_test_split(
            X, y, test_size = 0.3, random_state = 0,shuffle=False)
    ct = get_col_transformer_temp(X_train)
    X_train = ct.fit_transform(X_train)
    X_test = ct.transform(X_test)
    return X_train, X_test, y_train, y_test

In [64]:
X_train, X_test, y_train, y_test = prepare_temperature_data(all_cities_df)
X_train.shape

(47175, 150)

In [65]:

dataset = torch.utils.data.TensorDataset(
    torch.from_numpy(X_train.toarray().astype('float32')), 
    torch.from_numpy(y_train.to_numpy().astype('float32')).unsqueeze(1)
)
data_loader = torch.utils.data.DataLoader(dataset, batch_size=512, shuffle=False)
net = P1_Net(
    nn.Sequential(
        nn.Linear(X_train.shape[1], 256),
        nn.ReLU(),
        nn.Linear(256,1)
    )
)
print(net)

optimizer = torch.optim.Adam(net.parameters(), lr=0.0001)
loss = nn.MSELoss()

do_train(net, data_loader, optimizer, loss, 400)

P1_Net(
  (linear_relu_stack): Sequential(
    (0): Linear(in_features=150, out_features=256, bias=True)
    (1): ReLU()
    (2): Linear(in_features=256, out_features=1, bias=True)
  )
)
[1] loss: 80862.431
[2] loss: 80579.650
[3] loss: 80189.594
[4] loss: 79633.304
[5] loss: 78873.193
[6] loss: 77891.053
[7] loss: 76682.649
[8] loss: 75249.653
[9] loss: 73594.059
[10] loss: 71719.355
[11] loss: 69633.257
[12] loss: 67351.302
[13] loss: 64893.403
[14] loss: 62279.368
[15] loss: 59532.561
[16] loss: 56680.070
[17] loss: 53752.356
[18] loss: 50779.098
[19] loss: 47784.568
[20] loss: 44787.744
[21] loss: 41804.334
[22] loss: 38849.529
[23] loss: 35937.056
[24] loss: 33078.125
[25] loss: 30287.563
[26] loss: 27582.407
[27] loss: 24977.657
[28] loss: 22486.227
[29] loss: 20119.834
[30] loss: 17888.086
[31] loss: 15796.925
[32] loss: 13849.097
[33] loss: 12046.643
[34] loss: 10393.913
[35] loss: 8892.523
[36] loss: 7540.737
[37] loss: 6333.834
[38] loss: 5266.553
[39] loss: 4333.310
[40] loss: 3526.391
[41] loss: 2836.933
[42] loss: 2255.631
[43] loss: 1772.451
[44] loss: 1376.763
[45] loss: 1057.726
[46] loss: 804.642
[47] loss: 607.259
[48] loss: 456.022
[49] loss: 342.255
[50] loss: 258.264
[51] loss: 197.399
[52] loss: 154.063
[53] loss: 123.683
[54] loss: 102.631
[55] loss: 88.125
[56] loss: 78.090
[57] loss: 71.033
[58] loss: 65.914
[59] loss: 62.029
[60] loss: 58.919
[61] loss: 56.295
[62] loss: 53.981
[63] loss: 51.871
[64] loss: 49.907
[65] loss: 48.054
[66] loss: 46.295
[67] loss: 44.621
[68] loss: 43.025
[69] loss: 41.503
[70] loss: 40.053
[71] loss: 38.673
[72] loss: 37.361
[73] loss: 36.114
[74] loss: 34.929
[75] loss: 33.805
[76] loss: 32.740
[77] loss: 31.731
[78] loss: 30.775
[79] loss: 29.871
[80] loss: 29.017
[81] loss: 28.209
[82] loss: 27.446
[83] loss: 26.727
[84] loss: 26.048
[85] loss: 25.407
[86] loss: 24.803
[87] loss: 24.234
[88] loss: 23.697
[89] loss: 23.191
[90] loss: 22.713
[91] loss: 22.263
[92] loss: 21.838
[93] loss: 21.436
[94] loss: 21.057
[95] loss: 20.698
[96] loss: 20.358
[97] loss: 20.035
[98] loss: 19.729
[99] loss: 19.439
[100] loss: 19.163
[101] loss: 18.900
[102] loss: 18.650
[103] loss: 18.412
[104] loss: 18.186
[105] loss: 17.971
[106] loss: 17.766
[107] loss: 17.572
[108] loss: 17.387
[109] loss: 17.213
[110] loss: 17.047
[111] loss: 16.891
[112] loss: 16.743
[113] loss: 16.604
[114] loss: 16.474
[115] loss: 16.352
[116] loss: 16.238
[117] loss: 16.132
[118] loss: 16.033
[119] loss: 15.941
[120] loss: 15.856
[121] loss: 15.777
[122] loss: 15.705
[123] loss: 15.638
[124] loss: 15.576
[125] loss: 15.519
[126] loss: 15.466
[127] loss: 15.417
[128] loss: 15.371
[129] loss: 15.327
[130] loss: 15.286
[131] loss: 15.247
[132] loss: 15.209
[133] loss: 15.173
[134] loss: 15.137
[135] loss: 15.103
[136] loss: 15.069
[137] loss: 15.037
[138] loss: 15.004
[139] loss: 14.973
[140] loss: 14.942
[141] loss: 14.911
[142] loss: 14.882
[143] loss: 14.852
[144] loss: 14.823
[145] loss: 14.795
[146] loss: 14.767
[147] loss: 14.740
[148] loss: 14.713
[149] loss: 14.687
[150] loss: 14.662
[151] loss: 14.637
[152] loss: 14.613
[153] loss: 14.589
[154] loss: 14.566
[155] loss: 14.543
[156] loss: 14.521
[157] loss: 14.499
[158] loss: 14.478
[159] loss: 14.457
[160] loss: 14.437
[161] loss: 14.417
[162] loss: 14.397
[163] loss: 14.378
[164] loss: 14.360
[165] loss: 14.341
[166] loss: 14.324
[167] loss: 14.306
[168] loss: 14.289
[169] loss: 14.273
[170] loss: 14.256
[171] loss: 14.240
[172] loss: 14.225
[173] loss: 14.209
[174] loss: 14.194
[175] loss: 14.179
[176] loss: 14.165
[177] loss: 14.150
[178] loss: 14.136
[179] loss: 14.123
[180] loss: 14.109
[181] loss: 14.096
[182] loss: 14.083
[183] loss: 14.070
[184] loss: 14.057
[185] loss: 14.045
[186] loss: 14.032
[187] loss: 14.020
[188] loss: 14.008
[189] loss: 13.996
[190] loss: 13.985
[191] loss: 13.973
[192] loss: 13.962
[193] loss: 13.951
[194] loss: 13.940
[195] loss: 13.929
[196] loss: 13.919
[197] loss: 13.908
[198] loss: 13.898
[199] loss: 13.887
[200] loss: 13.877
[201] loss: 13.867
[202] loss: 13.857
[203] loss: 13.848
[204] loss: 13.838
[205] loss: 13.828
[206] loss: 13.819
[207] loss: 13.810
[208] loss: 13.800
[209] loss: 13.791
[210] loss: 13.782
[211] loss: 13.773
[212] loss: 13.764
[213] loss: 13.755
[214] loss: 13.747
[215] loss: 13.738
[216] loss: 13.729
[217] loss: 13.721
[218] loss: 13.713
[219] loss: 13.704
[220] loss: 13.696
[221] loss: 13.688
[222] loss: 13.680
[223] loss: 13.672
[224] loss: 13.664
[225] loss: 13.656
[226] loss: 13.648
[227] loss: 13.640
[228] loss: 13.632
[229] loss: 13.625
[230] loss: 13.617
[231] loss: 13.609
[232] loss: 13.602
[233] loss: 13.595
[234] loss: 13.587
[235] loss: 13.580
[236] loss: 13.573
[237] loss: 13.566
[238] loss: 13.558
[239] loss: 13.551
[240] loss: 13.544
[241] loss: 13.537
[242] loss: 13.531
[243] loss: 13.524
[244] loss: 13.517
[245] loss: 13.510
[246] loss: 13.503
[247] loss: 13.497
[248] loss: 13.490
[249] loss: 13.484
[250] loss: 13.477
[251] loss: 13.471
[252] loss: 13.465
[253] loss: 13.458
[254] loss: 13.452
[255] loss: 13.446
[256] loss: 13.439
[257] loss: 13.433
[258] loss: 13.427
[259] loss: 13.421
[260] loss: 13.415
[261] loss: 13.409
[262] loss: 13.403
[263] loss: 13.397
[264] loss: 13.391
[265] loss: 13.385
[266] loss: 13.380
[267] loss: 13.374
[268] loss: 13.368
[269] loss: 13.363
[270] loss: 13.357
[271] loss: 13.351
[272] loss: 13.346
[273] loss: 13.340
[274] loss: 13.334
[275] loss: 13.329
[276] loss: 13.323
[277] loss: 13.318
[278] loss: 13.313
[279] loss: 13.307
[280] loss: 13.302
[281] loss: 13.296
[282] loss: 13.291
[283] loss: 13.286
[284] loss: 13.280
[285] loss: 13.275
[286] loss: 13.270
[287] loss: 13.265
[288] loss: 13.259
[289] loss: 13.254
[290] loss: 13.249
[291] loss: 13.244
[292] loss: 13.238
[293] loss: 13.233
[294] loss: 13.228
[295] loss: 13.223
[296] loss: 13.218
[297] loss: 13.212
[298] loss: 13.207
[299] loss: 13.202
[300] loss: 13.197
[301] loss: 13.192
[302] loss: 13.187
[303] loss: 13.182
[304] loss: 13.176
[305] loss: 13.171
[306] loss: 13.166
[307] loss: 13.161
[308] loss: 13.156
[309] loss: 13.151
[310] loss: 13.146
[311] loss: 13.141
[312] loss: 13.136
[313] loss: 13.131
[314] loss: 13.126
[315] loss: 13.121
[316] loss: 13.116
[317] loss: 13.111
[318] loss: 13.106
[319] loss: 13.101
[320] loss: 13.096
[321] loss: 13.091
[322] loss: 13.086
[323] loss: 13.081
[324] loss: 13.076
[325] loss: 13.071
[326] loss: 13.066
[327] loss: 13.061
[328] loss: 13.056
[329] loss: 13.052
[330] loss: 13.047
[331] loss: 13.042
[332] loss: 13.037
[333] loss: 13.032
[334] loss: 13.027
[335] loss: 13.022
[336] loss: 13.017
[337] loss: 13.012
[338] loss: 13.007
[339] loss: 13.003
[340] loss: 12.998
[341] loss: 12.993
[342] loss: 12.988
[343] loss: 12.983
[344] loss: 12.978
[345] loss: 12.974
[346] loss: 12.969
[347] loss: 12.964
[348] loss: 12.959
[349] loss: 12.954
[350] loss: 12.950
[351] loss: 12.945
[352] loss: 12.940
[353] loss: 12.935
[354] loss: 12.931
[355] loss: 12.926
[356] loss: 12.921
[357] loss: 12.917
[358] loss: 12.912
[359] loss: 12.907
[360] loss: 12.903
[361] loss: 12.898
[362] loss: 12.893
[363] loss: 12.889
[364] loss: 12.884
[365] loss: 12.879
[366] loss: 12.875
[367] loss: 12.870
[368] loss: 12.866
[369] loss: 12.861
[370] loss: 12.857
[371] loss: 12.852
[372] loss: 12.848
[373] loss: 12.843
[374] loss: 12.839
[375] loss: 12.834
[376] loss: 12.830
[377] loss: 12.825
[378] loss: 12.821
[379] loss: 12.816
[380] loss: 12.812
[381] loss: 12.807
[382] loss: 12.803
[383] loss: 12.799
[384] loss: 12.794
[385] loss: 12.790
[386] loss: 12.785
[387] loss: 12.781
[388] loss: 12.777
[389] loss: 12.772
[390] loss: 12.768
[391] loss: 12.764
[392] loss: 12.759
[393] loss: 12.755
[394] loss: 12.751
[395] loss: 12.746
[396] loss: 12.742
[397] loss: 12.738
[398] loss: 12.734
[399] loss: 12.729
[400] loss: 12.725

In [66]:
from sklearn.metrics import mean_absolute_error
net.eval()

def valid_in_margin(y1, y2, margin):
    return 1 - np.count_nonzero(abs(y1-y2)>margin) / len(y1)
print("* train")
with torch.no_grad():
    y_pred1 = net(torch.from_numpy(X_train.toarray().astype('float32'))).numpy()
    y_pred1 = np.squeeze(y_pred1)

mae = mean_absolute_error(y_train, y_pred1)
print(f"\t* Mean absolute error: {mae}")
margin = 2
fraction = valid_in_margin(y_pred1, y_train, margin)
print(f"\t* Fraction of predictions with absolute error <= {margin}: {fraction}")

print("* test")
with torch.no_grad():
    y_pred2 = net(torch.from_numpy(X_test.toarray().astype('float32'))).numpy()
    y_pred2 = np.squeeze(y_pred2)

mae = mean_absolute_error(y_test, y_pred2)
print(f"\t* Mean absolute error: {mae}")
margin = 2
fraction = valid_in_margin(y_pred2, y_test, margin)
print(f"\t* Fraction of predictions with absolute error <= {margin}: {fraction}")

* train
	* Mean absolute error: 2.7417092996567765
	* Fraction of predictions with absolute error <= 2: 0.4555802861685214
* test
	* Mean absolute error: 3.2079532389405765
	* Fraction of predictions with absolute error <= 2: 0.359859538058262

## Przewidywanie siły wiatru

In [71]:
def extract_x_y_wind(df):
    X = df.copy()
    X = X.iloc[:-2]
    y = df['strong_wind'].iloc[4:] 

    X.reset_index(inplace= True)
    X['day_of_year'] = pd.to_datetime(X['date']).dt.dayofyear
    X['month'] = pd.to_datetime(X['date']).dt.month
    # X['day_sin'] = np.sin(X['day_of_year']/365 * 2 * np.pi)
    # X['day_cos'] = np.cos(X['day_of_year']/365 * 2 * np.pi)
    # X = X.drop(columns = ['day_of_year'])


    column_names = X.columns.to_list()
    X = pd.concat([X.iloc[:-2].reset_index(drop=True),X.iloc[1:-1].reset_index(drop=True),X.iloc[2:].reset_index(drop=True)],axis = 1)
    X.columns = column_names + [c + '_1' for c in column_names] + [c + '_2' for c in column_names]
    if 'city_1' in X.columns:
        X = X.drop(columns=['city_1', 'city_2'])
    return X, y

In [74]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

def get_col_transformer_wind(df):
    return ColumnTransformer(
        [
            (
                "standarizer",
                StandardScaler(),
                gen_col_set(
                    ["humidity", "pressure", "temperature", "wind_speed", "wind_direction", "day_of_year"]
                ),
            ),
            (
                "one_hot_encoder", 
                OneHotEncoder(), 
                gen_col_set(
                    ["description", "month"]
                ) + (['city'] if 'city' in df.columns else [])
            ),
            ('pass', 'passthrough', gen_col_set(['strong_wind'])),
        ],
        remainder="passthrough",
    )

def prepare_wind_data(df):
    groups = df.groupby('city')[df.columns].apply(extract_x_y_wind)
    X_list = [group[0] for group in groups]
    y_list = [group[1] for group in groups]
    X, y = pd.concat(X_list), pd.concat(y_list)
    X['y'] = y.reset_index(drop=True)
    X = X.sort_values('date',kind='stable')
    y = X['y']
    X = X.drop(columns=['date','date_1','date_2', 'y'])

    X_train, X_test, y_train, y_test = train_test_split(
            X, y, test_size = 0.3, random_state = 0,shuffle=False)
    ct = get_col_transformer_wind(X_train)
    X_train = ct.fit_transform(X_train)
    X_test = ct.transform(X_test)
    return X_train, X_test, y_train, y_test

In [75]:
X_train, X_test, y_train, y_test = prepare_wind_data(all_cities_df)
X_train.shape

(47175, 153)

In [ ]:
y_0 = np.array([1 if i==0 else 0 for i in y_train])
y_t = np.concat([np.expand_dims(y_0, axis=1),np.expand_dims(y_train, axis=1)],axis=1)
dataset = torch.utils.data.TensorDataset(
    torch.from_numpy(X_train.toarray().astype('float32')), 
    torch.from_numpy(y_t.astype('float32'))
)
data_loader = torch.utils.data.DataLoader(dataset, batch_size=512, shuffle=False)
net = P1_Net(
    nn.Sequential(
        nn.Linear(X_train.shape[1], 256),
        nn.ReLU(),
        nn.Linear(256,2),
        nn.Softmax(dim=1)
    )
)
print(net)

optimizer = torch.optim.Adam(net.parameters(), lr=0.001)
loss = nn.CrossEntropyLoss()

do_train(net, data_loader, optimizer, loss, 200)

P1_Net(
  (linear_relu_stack): Sequential(
    (0): Linear(in_features=153, out_features=256, bias=True)
    (1): ReLU()
    (2): Linear(in_features=256, out_features=2, bias=True)
    (3): Softmax(dim=1)
  )
)
[1] loss: 0.696
[2] loss: 0.653
[3] loss: 0.637
[4] loss: 0.627
[5] loss: 0.620
[6] loss: 0.615
[7] loss: 0.611
[8] loss: 0.608
[9] loss: 0.606
[10] loss: 0.604
[11] loss: 0.602
[12] loss: 0.601
[13] loss: 0.599
[14] loss: 0.598
[15] loss: 0.597
[16] loss: 0.595
[17] loss: 0.594
[18] loss: 0.593
[19] loss: 0.591
[20] loss: 0.590
[21] loss: 0.589
[22] loss: 0.588
[23] loss: 0.586
[24] loss: 0.585
[25] loss: 0.584
[26] loss: 0.582
[27] loss: 0.581
[28] loss: 0.579
[29] loss: 0.578
[30] loss: 0.577
[31] loss: 0.575
[32] loss: 0.574
[33] loss: 0.572
[34] loss: 0.571
[35] loss: 0.569
[36] loss: 0.568
[37] loss: 0.567
[38] loss: 0.565
[39] loss: 0.564
[40] loss: 0.563
[41] loss: 0.561
[42] loss: 0.560
[43] loss: 0.559
[44] loss: 0.557
[45] loss: 0.556
[46] loss: 0.554
[47] loss: 0.553
[48] loss: 0.552
[49] loss: 0.550
[50] loss: 0.549
[51] loss: 0.548
[52] loss: 0.546
[53] loss: 0.545
[54] loss: 0.544
[55] loss: 0.542
[56] loss: 0.541
[57] loss: 0.540
[58] loss: 0.538
[59] loss: 0.537
[60] loss: 0.536
[61] loss: 0.534

In [32]:
from sklearn.metrics import roc_auc_score
net.eval()
print("* train")
with torch.no_grad():
    y_pred1 = net(torch.from_numpy(X_train.toarray().astype('float32')))[:,1]
print(f"\t* ROC_AUC: {roc_auc_score(y_train, y_pred1)}")

print("* test")
with torch.no_grad():
    y_pred1 = net(torch.from_numpy(X_test.toarray().astype('float32')))[:,1]
print(f"\t* ROC_AUC: {roc_auc_score(y_test, y_pred1)}")

* train
	* ROC_AUC: 0.8319770862178258
* test
	* ROC_AUC: 0.55532494323389