In [1]:
import numpy as np
import pandas as pd
import datetime    
import torch
import torch.nn as nn
import torch.utils.data.dataloader
from neural_net import P1_Net, do_train

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPRegressor, MLPClassifier
from sklearn.metrics import mean_squared_error, accuracy_score
from sklearn.utils.validation import column_or_1d

In [2]:
df_city = pd.read_csv("city_attributes.csv")
df_humidity = pd.read_csv("humidity.csv")
df_pressure = pd.read_csv("pressure.csv")
df_temper = pd.read_csv("temperature.csv")
df_descript = pd.read_csv("weather_description.csv")
df_direction = pd.read_csv("wind_direction.csv")
df_speed = pd.read_csv("wind_speed.csv")

In [3]:
max([df_humidity.isna().sum().mean(),
df_pressure.isna().sum().mean(),
df_temper.isna().sum().mean(),
df_direction.isna().sum().mean(),
df_speed.isna().sum().mean()])

np.float64(774.3513513513514)

In [4]:
df_temper.describe(include='all')

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
count,45253,44458.000000,45252.000000,44460.000000,45250.000000,45250.000000,45252.000000,45252.000000,45250.000000,45252.000000,...,45250.000000,44460.000000,45250.000000,45250.000000,44455.000000,44460.000000,44461.000000,44455.000000,44456.000000,44460.000000
unique,45253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2017-11-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,283.862654,284.992929,288.155821,284.409626,290.846116,290.215044,292.424887,295.493358,285.617856,...,285.374168,285.400406,280.343010,283.779823,291.521986,294.512307,296.497276,295.266398,294.094803,293.184253
std,NaN,6.640131,7.452438,5.332862,6.547986,6.460823,5.889992,10.829522,9.916743,9.853484,...,10.242377,10.220932,11.953626,9.802499,7.821815,6.676412,8.852984,6.324566,6.304118,7.093583
min,NaN,245.150000,262.370000,272.300000,263.780000,266.503667,265.783333,260.561333,266.059000,255.042333,...,250.390000,250.774000,243.300000,249.540000,272.179000,271.049000,271.150000,271.150000,268.682000,272.974000
25%,NaN,279.160000,279.850000,284.670000,279.830000,286.380000,286.254750,283.920000,287.680000,277.970000,...,277.350636,277.370000,271.971750,276.090000,285.366623,289.450000,289.734000,290.467333,289.881833,287.524279
50%,NaN,283.450000,284.320000,287.610000,283.940000,290.530000,290.118750,292.027486,295.586667,286.120000,...,285.927583,285.870000,281.109000,284.133250,290.932667,294.900000,296.150000,294.820000,294.150000,292.996000
75%,NaN,288.600785,289.451750,291.015167,288.530000,295.080000,294.107542,300.835000,303.050000,292.835643,...,293.796000,293.760000,290.369583,291.620000,297.270000,299.800000,303.150000,299.660000,298.930000,299.150000
max,NaN,307.000000,312.520000,313.620000,307.300000,315.470000,313.360000,318.640000,321.220000,312.710000,...,308.000000,310.240000,307.880000,308.000000,314.820000,320.930000,320.150000,320.930000,313.150000,317.040000

In [5]:
def group_by_days(df):
    df["date"] = pd.to_datetime(df["datetime"]).dt.date
    df = df.drop('datetime', axis=1)
    df = df.groupby(df["date"]).mean()
    return df

def group_by_days_descript(df):
    df["date"] = pd.to_datetime(df["datetime"]).dt.date
    df = df.fillna('no data')
    df = df.drop('datetime', axis=1)
    df = df.groupby(df["date"]).agg(lambda x: pd.Series.mode(x)[0])
    return df

In [6]:
df_humidity = group_by_days(df_humidity)
df_pressure = group_by_days(df_pressure)
df_temper = group_by_days(df_temper)
df_descript = group_by_days_descript(df_descript)
df_direction = group_by_days(df_direction)
df_speed = group_by_days(df_speed)

In [7]:
encoder = LabelEncoder()
df_descript= df_descript.apply(encoder.fit_transform)

In [8]:
def create_dataframe_for_city(city_name):
    df =  pd.concat([
        df_humidity[city_name], df_pressure[city_name], df_temper[city_name], df_descript[city_name], df_direction[city_name], df_speed[city_name]
    ], axis=1)
    df.columns = ['humidity', 'pressure', 'temperature', 'description', 'wind_direction','wind_speed' ]
    return df

In [9]:
df_Portland  =  create_dataframe_for_city("Portland")
df_Portland

,humidity,pressure,temperature,description,wind_direction,wind_speed
date,,,,,,
2012-10-01,78.727273,1024.000000,282.118197,11,57.727273,0.000000
2012-10-02,65.833333,1023.583333,286.137728,11,214.041667,1.291667
2012-10-03,66.208333,1021.083333,289.599792,2,228.333333,2.625000
2012-10-04,51.166667,1022.875000,286.482500,12,206.750000,4.625000
2012-10-05,40.391304,1022.916667,288.286042,12,182.250000,3.708333
...,...,...,...,...,...,...
2017-11-26,87.625000,1004.500000,281.588333,8,153.750000,4.958333
2017-11-27,92.875000,1015.625000,279.922500,8,158.083333,1.666667
2017-11-28,88.458333,1019.791667,280.085833,8,144.166667,3.041667
2017-11-29,85.500000,1027.625000,279.860833,8,191.125000,2.166667
2017-11-30,76.000000,1029.000000,282.280000,0,340.000000,1.000000

In [170]:
df_speed_2 = pd.read_csv("wind_speed.csv")
df_speed_2["date"] = pd.to_datetime(df_speed_2["datetime"]).dt.date
df_speed_2 = df_speed_2.drop(columns=['datetime'])
df_speed_2 = df_speed_2.groupby('date').apply(lambda group: (group >= 6).any())
strong_wind = pd.concat([
    df_speed_2[city] for city in df_city['City']
])

def add_city_col(df, city):
    df['city'] = city
    return df
all_cities_df = pd.concat([
    add_city_col(create_dataframe_for_city(city), city) for city in df_city['City']
])
all_cities_df['strong_wind'] = strong_wind
all_cities_df['strong_wind'] = all_cities_df['strong_wind'].apply(lambda x: 1 if x else 0)
all_cities_df = all_cities_df.dropna().sort_values('date', kind='stable')

In [171]:
all_cities_df

,humidity,pressure,temperature,description,wind_direction,wind_speed,city,strong_wind
date,,,,,,,,
2012-10-01,78.727273,1024.000000,282.118197,11,57.727273,0.000000,Portland,0
2012-10-01,83.000000,1009.727273,289.416642,14,122.363636,1.636364,San Francisco,0
2012-10-01,78.000000,1030.000000,281.767262,1,32.272727,0.000000,Seattle,0
2012-10-01,88.000000,1013.000000,291.846501,11,0.000000,0.000000,Los Angeles,0
2012-10-01,79.909091,1013.000000,291.573495,11,0.000000,0.000000,San Diego,0
...,...,...,...,...,...,...,...,...
2017-11-30,42.000000,1025.000000,279.190000,12,360.000000,2.000000,Pittsburgh,0
2017-11-30,60.000000,1027.000000,274.510000,17,330.000000,3.000000,Toronto,0
2017-11-30,32.000000,1024.000000,283.420000,11,360.000000,4.000000,Philadelphia,0
2017-11-30,58.000000,1027.000000,271.800000,1,300.000000,4.000000,Montreal,0
2017-11-30,56.000000,1023.000000,280.650000,0,320.000000,2.000000,Boston,0

# Przewidywanie temperatury

In [163]:
def extract_x_y_temperature(df):
    X = df.iloc[:-2].copy()
    y =  df['temperature'].iloc[4:] 

    X.reset_index(inplace= True)
    X = X.drop(columns = ['strong_wind'])
    X['day_of_year'] = pd.to_datetime(X['date']).dt.dayofyear
    X['month'] = pd.to_datetime(X['date']).dt.month

    # X['wind_dir_sin'] = np.sin(X['wind_direction']/360 * 2 * np.pi)
    # X['wind_dir_cos'] = np.cos(X['wind_direction']/360 * 2 * np.pi)
    # X['day_sin'] = np.sin(X['day_of_year']/365 * 2 * np.pi)
    # X['day_cos'] = np.cos(X['day_of_year']/365 * 2 * np.pi)
    # X = X.drop(columns = ['day_of_year'])
    # X = X.drop(columns = ['wind_direction'])

    X = X.drop('date', axis=1)
    column_names = X.columns.to_list()
    X = pd.concat([X.iloc[:-2].reset_index(drop=True),X.iloc[1:-1].reset_index(drop=True),X.iloc[2:].reset_index(drop=True)],axis = 1)
    X.columns = column_names + [c + '_1' for c in column_names] + [c + '_2' for c in column_names]
    if 'city_1' in X.columns:
        X = X.drop(columns=['city_1', 'city_2'])
    return X, y

In [165]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

def gen_col_set(col_names):
    return [ final_col
        for col_name in col_names
        for final_col in  [col_name, col_name+"_1", col_name+"_2"] ]

def get_col_transformer_temp(df):
    return ColumnTransformer(
        [
            (
                "standarizer",
                StandardScaler(),
                gen_col_set(
                    ["humidity", "pressure", "temperature", "wind_speed", "wind_direction", "day_of_year"]
                ),
            ),
            (
                "one_hot_encoder", 
                OneHotEncoder(), 
                gen_col_set(
                    ["description", "month"]
                ) + (['city'] if 'city' in df.columns else [])
            ),
        ],
        remainder="passthrough",
    )

def prepare_temperature_data(df):
    X, y = extract_x_y_temperature(df)
    X_train, X_test, y_train, y_test = train_test_split(
            X, y, test_size = 0.3, random_state = 0,shuffle=False)
    ct = get_col_transformer_temp(X_train)
    X_train = ct.fit_transform(X_train)
    X_test = ct.transform(X_test)
    return X_train, X_test, y_train, y_test

In [166]:
X_train, X_test, y_train, y_test = prepare_temperature_data(all_cities_df)
X_train.shape

(47273, 150)

In [116]:

dataset = torch.utils.data.TensorDataset(
    torch.from_numpy(X_train.toarray().astype('float32')), 
    torch.from_numpy(y_train.to_numpy().astype('float32')).unsqueeze(1)
)
data_loader = torch.utils.data.DataLoader(dataset, batch_size=512, shuffle=False)
net = P1_Net(
    nn.Sequential(
        nn.Linear(X_train.shape[1], 256),
        nn.ReLU(),
        nn.Linear(256,1)
    )
)
print(net)

optimizer = torch.optim.Adam(net.parameters(), lr=0.0001)
loss = nn.MSELoss()

do_train(net, data_loader, optimizer, loss, 400)

P1_Net(
  (linear_relu_stack): Sequential(
    (0): Linear(in_features=150, out_features=256, bias=True)
    (1): ReLU()
    (2): Linear(in_features=256, out_features=1, bias=True)
  )
)
[1] loss: 82660.287
[2] loss: 82370.747
[3] loss: 81971.052
[4] loss: 81399.799
[5] loss: 80608.553
[6] loss: 79565.615
[7] loss: 78261.499
[8] loss: 76701.407
[9] loss: 74894.437
[10] loss: 72855.022
[11] loss: 70603.212
[12] loss: 68161.239
[13] loss: 65551.763
[14] loss: 62799.042
[15] loss: 59927.231
[16] loss: 56959.566
[17] loss: 53918.728
[18] loss: 50825.987
[19] loss: 47704.825
[20] loss: 44580.733
[21] loss: 41476.818
[22] loss: 38411.611
[23] loss: 35402.618
[24] loss: 32467.811
[25] loss: 29623.403
[26] loss: 26885.248
[27] loss: 24266.361
[28] loss: 21776.590
[29] loss: 19422.947
[30] loss: 17211.139
[31] loss: 15146.491
[32] loss: 13233.160
[33] loss: 11473.544
[34] loss: 9868.120
[35] loss: 8415.542
[36] loss: 7112.683
[37] loss: 5954.718
[38] loss: 4935.284
[39] loss: 4047.059
[40] loss: 3282.094
[41] loss: 2631.497
[42] loss: 2085.452
[43] loss: 1633.516
[44] loss: 1264.954
[45] loss: 969.027
[46] loss: 735.275
[47] loss: 553.761
[48] loss: 415.282
[49] loss: 311.528
[50] loss: 235.194
[51] loss: 180.022
[52] loss: 140.802
[53] loss: 113.316
[54] loss: 94.249
[55] loss: 81.069
[56] loss: 71.901
[57] loss: 65.400
[58] loss: 60.627
[59] loss: 56.953
[60] loss: 53.966
[61] loss: 51.408
[62] loss: 49.121
[63] loss: 47.014
[64] loss: 45.036
[65] loss: 43.158
[66] loss: 41.367
[67] loss: 39.656
[68] loss: 38.021
[69] loss: 36.461
[70] loss: 34.976
[71] loss: 33.564
[72] loss: 32.224
[73] loss: 30.956
[74] loss: 29.757
[75] loss: 28.626
[76] loss: 27.562
[77] loss: 26.563
[78] loss: 25.625
[79] loss: 24.748
[80] loss: 23.928
[81] loss: 23.163
[82] loss: 22.451
[83] loss: 21.790
[84] loss: 21.176
[85] loss: 20.607
[86] loss: 20.082
[87] loss: 19.597
[88] loss: 19.149
[89] loss: 18.738
[90] loss: 18.359
[91] loss: 18.012
[92] loss: 17.694
[93] loss: 17.403
[94] loss: 17.136
[95] loss: 16.893
[96] loss: 16.671
[97] loss: 16.468
[98] loss: 16.284
[99] loss: 16.116
[100] loss: 15.963
[101] loss: 15.823
[102] loss: 15.696
[103] loss: 15.581
[104] loss: 15.476
[105] loss: 15.380
[106] loss: 15.293
[107] loss: 15.213
[108] loss: 15.140
[109] loss: 15.074
[110] loss: 15.014
[111] loss: 14.959
[112] loss: 14.908
[113] loss: 14.862
[114] loss: 14.820
[115] loss: 14.781
[116] loss: 14.746
[117] loss: 14.714
[118] loss: 14.685
[119] loss: 14.658
[120] loss: 14.634
[121] loss: 14.612
[122] loss: 14.591
[123] loss: 14.573
[124] loss: 14.556
[125] loss: 14.541
[126] loss: 14.527
[127] loss: 14.514
[128] loss: 14.502
[129] loss: 14.490
[130] loss: 14.477
[131] loss: 14.463
[132] loss: 14.447
[133] loss: 14.428
[134] loss: 14.407
[135] loss: 14.383
[136] loss: 14.356
[137] loss: 14.327
[138] loss: 14.296
[139] loss: 14.262
[140] loss: 14.226
[141] loss: 14.187
[142] loss: 14.145
[143] loss: 14.099
[144] loss: 14.049
[145] loss: 13.994
[146] loss: 13.936
[147] loss: 13.875
[148] loss: 13.814
[149] loss: 13.752
[150] loss: 13.688
[151] loss: 13.623
[152] loss: 13.558
[153] loss: 13.492
[154] loss: 13.426
[155] loss: 13.361
[156] loss: 13.296
[157] loss: 13.231
[158] loss: 13.167
[159] loss: 13.104
[160] loss: 13.042
[161] loss: 12.980
[162] loss: 12.919
[163] loss: 12.858
[164] loss: 12.799
[165] loss: 12.740
[166] loss: 12.682
[167] loss: 12.625
[168] loss: 12.570
[169] loss: 12.515
[170] loss: 12.461
[171] loss: 12.409
[172] loss: 12.357
[173] loss: 12.306
[174] loss: 12.256
[175] loss: 12.207
[176] loss: 12.158
[177] loss: 12.109
[178] loss: 12.060
[179] loss: 12.011
[180] loss: 11.962
[181] loss: 11.914
[182] loss: 11.866
[183] loss: 11.818
[184] loss: 11.771
[185] loss: 11.725
[186] loss: 11.680
[187] loss: 11.635
[188] loss: 11.592
[189] loss: 11.548
[190] loss: 11.506
[191] loss: 11.464
[192] loss: 11.423
[193] loss: 11.383
[194] loss: 11.344
[195] loss: 11.305
[196] loss: 11.267
[197] loss: 11.229
[198] loss: 11.192
[199] loss: 11.156
[200] loss: 11.120
[201] loss: 11.085
[202] loss: 11.051
[203] loss: 11.017
[204] loss: 10.984
[205] loss: 10.951
[206] loss: 10.919
[207] loss: 10.887
[208] loss: 10.856
[209] loss: 10.826
[210] loss: 10.796
[211] loss: 10.766
[212] loss: 10.737
[213] loss: 10.708
[214] loss: 10.680
[215] loss: 10.652
[216] loss: 10.624
[217] loss: 10.597
[218] loss: 10.571
[219] loss: 10.544
[220] loss: 10.518
[221] loss: 10.493
[222] loss: 10.468
[223] loss: 10.443
[224] loss: 10.418
[225] loss: 10.394
[226] loss: 10.370
[227] loss: 10.346
[228] loss: 10.323
[229] loss: 10.300
[230] loss: 10.277
[231] loss: 10.255
[232] loss: 10.233
[233] loss: 10.211
[234] loss: 10.189
[235] loss: 10.168
[236] loss: 10.147
[237] loss: 10.126
[238] loss: 10.106
[239] loss: 10.085
[240] loss: 10.065
[241] loss: 10.045
[242] loss: 10.026
[243] loss: 10.006
[244] loss: 9.987
[245] loss: 9.968
[246] loss: 9.949
[247] loss: 9.930
[248] loss: 9.912
[249] loss: 9.894
[250] loss: 9.876
[251] loss: 9.858
[252] loss: 9.840
[253] loss: 9.823
[254] loss: 9.805
[255] loss: 9.788
[256] loss: 9.771
[257] loss: 9.755
[258] loss: 9.738
[259] loss: 9.722
[260] loss: 9.705
[261] loss: 9.689
[262] loss: 9.673
[263] loss: 9.658
[264] loss: 9.642
[265] loss: 9.627
[266] loss: 9.611
[267] loss: 9.596
[268] loss: 9.581
[269] loss: 9.566
[270] loss: 9.552
[271] loss: 9.537
[272] loss: 9.523
[273] loss: 9.509
[274] loss: 9.495
[275] loss: 9.481
[276] loss: 9.467
[277] loss: 9.453
[278] loss: 9.440
[279] loss: 9.427
[280] loss: 9.413
[281] loss: 9.400
[282] loss: 9.387
[283] loss: 9.375
[284] loss: 9.362
[285] loss: 9.349
[286] loss: 9.337
[287] loss: 9.325
[288] loss: 9.313
[289] loss: 9.301
[290] loss: 9.289
[291] loss: 9.277
[292] loss: 9.265
[293] loss: 9.254
[294] loss: 9.243
[295] loss: 9.231
[296] loss: 9.220
[297] loss: 9.209
[298] loss: 9.198
[299] loss: 9.187
[300] loss: 9.176
[301] loss: 9.166
[302] loss: 9.155
[303] loss: 9.145
[304] loss: 9.134
[305] loss: 9.124
[306] loss: 9.113
[307] loss: 9.103
[308] loss: 9.093
[309] loss: 9.083
[310] loss: 9.073
[311] loss: 9.063
[312] loss: 9.054
[313] loss: 9.044
[314] loss: 9.034
[315] loss: 9.025
[316] loss: 9.015
[317] loss: 9.006
[318] loss: 8.997
[319] loss: 8.987
[320] loss: 8.978
[321] loss: 8.969
[322] loss: 8.960
[323] loss: 8.952
[324] loss: 8.943
[325] loss: 8.934
[326] loss: 8.925
[327] loss: 8.917
[328] loss: 8.908
[329] loss: 8.900
[330] loss: 8.892
[331] loss: 8.884
[332] loss: 8.875
[333] loss: 8.867
[334] loss: 8.859
[335] loss: 8.852
[336] loss: 8.844
[337] loss: 8.836
[338] loss: 8.828
[339] loss: 8.821
[340] loss: 8.813
[341] loss: 8.805
[342] loss: 8.798
[343] loss: 8.791
[344] loss: 8.783
[345] loss: 8.776
[346] loss: 8.769
[347] loss: 8.762
[348] loss: 8.754
[349] loss: 8.748
[350] loss: 8.741
[351] loss: 8.734
[352] loss: 8.727
[353] loss: 8.720
[354] loss: 8.714
[355] loss: 8.707
[356] loss: 8.700
[357] loss: 8.694
[358] loss: 8.687
[359] loss: 8.681
[360] loss: 8.674
[361] loss: 8.668
[362] loss: 8.661
[363] loss: 8.655
[364] loss: 8.649
[365] loss: 8.643
[366] loss: 8.637
[367] loss: 8.630
[368] loss: 8.624
[369] loss: 8.618
[370] loss: 8.612
[371] loss: 8.606
[372] loss: 8.600
[373] loss: 8.595
[374] loss: 8.589
[375] loss: 8.583
[376] loss: 8.577
[377] loss: 8.572
[378] loss: 8.566
[379] loss: 8.560
[380] loss: 8.555
[381] loss: 8.549
[382] loss: 8.544
[383] loss: 8.538
[384] loss: 8.533
[385] loss: 8.527
[386] loss: 8.522
[387] loss: 8.517
[388] loss: 8.512
[389] loss: 8.506
[390] loss: 8.501
[391] loss: 8.496
[392] loss: 8.491
[393] loss: 8.485
[394] loss: 8.480
[395] loss: 8.475
[396] loss: 8.470
[397] loss: 8.465
[398] loss: 8.460
[399] loss: 8.455
[400] loss: 8.450

In [ ]:
from sklearn.metrics import mean_absolute_error
net.eval()

def valid_in_margin(y1, y2, margin):
    return 1 - np.count_nonzero(abs(y1-y2)>margin) / len(y1)
print("* train")
with torch.no_grad():
    y_pred1 = net(torch.from_numpy(X_train.toarray().astype('float32'))).numpy()
    y_pred1 = np.squeeze(y_pred1)

mae = mean_absolute_error(y_train, y_pred1)
print(f"\t* Mean absolute error: {mae}")
margin = 2
fraction = valid_in_margin(y_pred1, y_train, margin)
print(f"\t* Fraction of predictions with absolute error <= {margin}: {fraction}")

print("* test")
with torch.no_grad():
    y_pred2 = net(torch.from_numpy(X_test.toarray().astype('float32'))).numpy()
    y_pred2 = np.squeeze(y_pred2)

mae = mean_absolute_error(y_test, y_pred2)
print(f"\t* Mean absolute error: {mae}")
margin = 2
fraction = valid_in_margin(y_pred2, y_test, margin)
print(f"\t* Fraction of predictions with absolute error <= {margin}: {fraction}")

## Przewidywanie siły wiatru

In [175]:
def extract_x_y_wind(df):
    X = df.copy()
    X = X.iloc[:-2]
    y = df['strong_wind'].iloc[4:] 

    X.reset_index(inplace= True)
    X['day_of_year'] = pd.to_datetime(X['date']).dt.dayofyear
    X['month'] = pd.to_datetime(X['date']).dt.month
    # X['day_sin'] = np.sin(X['day_of_year']/365 * 2 * np.pi)
    # X['day_cos'] = np.cos(X['day_of_year']/365 * 2 * np.pi)
    # X = X.drop(columns = ['day_of_year'])


    X = X.drop('date', axis=1)
    column_names = X.columns.to_list()
    X= pd.concat([X.iloc[:-2].reset_index(drop=True),X.iloc[1:-1].reset_index(drop=True),X.iloc[2:].reset_index(drop=True)],axis = 1)
    X.columns = column_names + [c + '_1' for c in column_names] + [c + '_2' for c in column_names]
    if 'city_1' in X.columns:
        X = X.drop(columns=['city_1', 'city_2'])
    return X, y

In [177]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

def get_col_transformer_wind(df):
    return ColumnTransformer(
        [
            (
                "standarizer",
                StandardScaler(),
                gen_col_set(
                    ["humidity", "pressure", "temperature", "wind_speed", "wind_direction", "day_of_year"]
                ),
            ),
            (
                "one_hot_encoder", 
                OneHotEncoder(), 
                gen_col_set(
                    ["description", "month"]
                ) + (['city'] if 'city' in df.columns else [])
            ),
            ('pass', 'passthrough', gen_col_set(['strong_wind'])),
        ],
        remainder="passthrough",
    )

def prepare_wind_data(df):
    X, y = extract_x_y_wind(df)
    X_train, X_test, y_train, y_test = train_test_split(
            X, y, test_size = 0.3, random_state = 0,shuffle=False)
    ct = get_col_transformer_wind(X_train)
    X_train = ct.fit_transform(X_train)
    X_test = ct.transform(X_test)
    return X_train, X_test, y_train, y_test

In [178]:
X_train, X_test, y_train, y_test = prepare_wind_data(all_cities_df)
X_train.shape

(47273, 153)

In [194]:
y_0 = np.array([1 if i==0 else 0 for i in y_train])
y_t = np.concat([np.expand_dims(y_0, axis=1),np.expand_dims(y_train, axis=1)],axis=1)
dataset = torch.utils.data.TensorDataset(
    torch.from_numpy(X_train.toarray().astype('float32')), 
    torch.from_numpy(y_t.astype('float32'))
)
data_loader = torch.utils.data.DataLoader(dataset, batch_size=512, shuffle=False)
net = P1_Net(
    nn.Sequential(
        nn.Linear(X_train.shape[1], 256),
        nn.ReLU(),
        nn.Linear(256,2),
        nn.Softmax(dim=1)
    )
)
print(net)

optimizer = torch.optim.Adam(net.parameters(), lr=0.001)
loss = nn.CrossEntropyLoss()

do_train(net, data_loader, optimizer, loss, 200)

P1_Net(
  (linear_relu_stack): Sequential(
    (0): Linear(in_features=153, out_features=256, bias=True)
    (1): ReLU()
    (2): Linear(in_features=256, out_features=2, bias=True)
    (3): Softmax(dim=1)
  )
)
[1] loss: 0.641
[2] loss: 0.605
[3] loss: 0.592
[4] loss: 0.584
[5] loss: 0.577
[6] loss: 0.572
[7] loss: 0.568
[8] loss: 0.564
[9] loss: 0.560
[10] loss: 0.557
[11] loss: 0.553
[12] loss: 0.550
[13] loss: 0.547
[14] loss: 0.544
[15] loss: 0.541
[16] loss: 0.538
[17] loss: 0.535
[18] loss: 0.533
[19] loss: 0.531
[20] loss: 0.529
[21] loss: 0.527
[22] loss: 0.525
[23] loss: 0.523
[24] loss: 0.521
[25] loss: 0.520
[26] loss: 0.518
[27] loss: 0.517
[28] loss: 0.526
[29] loss: 0.517
[30] loss: 0.527
[31] loss: 0.518
[32] loss: 0.520
[33] loss: 0.515
[34] loss: 0.517
[35] loss: 0.512
[36] loss: 0.514
[37] loss: 0.509
[38] loss: 0.511
[39] loss: 0.506
[40] loss: 0.508
[41] loss: 0.503
[42] loss: 0.504
[43] loss: 0.498
[44] loss: 0.501
[45] loss: 0.516
[46] loss: 0.509
[47] loss: 0.503
[48] loss: 0.499
[49] loss: 0.497
[50] loss: 0.492
[51] loss: 0.497
[52] loss: 0.507
[53] loss: 0.505
[54] loss: 0.495
[55] loss: 0.491
[56] loss: 0.488
[57] loss: 0.495
[58] loss: 0.499
[59] loss: 0.493
[60] loss: 0.492
[61] loss: 0.485
[62] loss: 0.487
[63] loss: 0.493
[64] loss: 0.492
[65] loss: 0.489
[66] loss: 0.482
[67] loss: 0.488
[68] loss: 0.489
[69] loss: 0.486
[70] loss: 0.483
[71] loss: 0.481
[72] loss: 0.491
[73] loss: 0.489
[74] loss: 0.483
[75] loss: 0.478
[76] loss: 0.474
[77] loss: 0.485
[78] loss: 0.486
[79] loss: 0.479
[80] loss: 0.475
[81] loss: 0.475
[82] loss: 0.487
[83] loss: 0.484
[84] loss: 0.475
[85] loss: 0.471
[86] loss: 0.471
[87] loss: 0.481
[88] loss: 0.483
[89] loss: 0.473
[90] loss: 0.469
[91] loss: 0.472
[92] loss: 0.478
[93] loss: 0.478
[94] loss: 0.470
[95] loss: 0.468
[96] loss: 0.471
[97] loss: 0.470
[98] loss: 0.473
[99] loss: 0.469
[100] loss: 0.469
[101] loss: 0.470
[102] loss: 0.470
[103] loss: 0.468
[104] loss: 0.463
[105] loss: 0.463
[106] loss: 0.470
[107] loss: 0.478
[108] loss: 0.469
[109] loss: 0.458
[110] loss: 0.455
[111] loss: 0.458
[112] loss: 0.476
[113] loss: 0.474
[114] loss: 0.455
[115] loss: 0.452
[116] loss: 0.460
[117] loss: 0.479
[118] loss: 0.470
[119] loss: 0.452
[120] loss: 0.451
[121] loss: 0.463
[122] loss: 0.472
[123] loss: 0.464
[124] loss: 0.451
[125] loss: 0.456
[126] loss: 0.463
[127] loss: 0.459
[128] loss: 0.456
[129] loss: 0.457
[130] loss: 0.467
[131] loss: 0.459
[132] loss: 0.447
[133] loss: 0.452
[134] loss: 0.451
[135] loss: 0.451
[136] loss: 0.456
[137] loss: 0.469
[138] loss: 0.462
[139] loss: 0.456
[140] loss: 0.446
[141] loss: 0.446
[142] loss: 0.447
[143] loss: 0.466
[144] loss: 0.464
[145] loss: 0.446
[146] loss: 0.443
[147] loss: 0.448
[148] loss: 0.454
[149] loss: 0.450
[150] loss: 0.441
[151] loss: 0.445
[152] loss: 0.466
[153] loss: 0.457
[154] loss: 0.444
[155] loss: 0.442
[156] loss: 0.438
[157] loss: 0.456
[158] loss: 0.459
[159] loss: 0.448
[160] loss: 0.435
[161] loss: 0.455
[162] loss: 0.453
[163] loss: 0.448
[164] loss: 0.438
[165] loss: 0.436
[166] loss: 0.449
[167] loss: 0.467
[168] loss: 0.446
[169] loss: 0.451
[170] loss: 0.441
[171] loss: 0.447
[172] loss: 0.435
[173] loss: 0.436
[174] loss: 0.431
[175] loss: 0.431
[176] loss: 0.450
[177] loss: 0.467
[178] loss: 0.455
[179] loss: 0.447
[180] loss: 0.438
[181] loss: 0.431
[182] loss: 0.432
[183] loss: 0.450
[184] loss: 0.456
[185] loss: 0.452
[186] loss: 0.442
[187] loss: 0.434
[188] loss: 0.429
[189] loss: 0.428
[190] loss: 0.446
[191] loss: 0.452
[192] loss: 0.450
[193] loss: 0.448
[194] loss: 0.434
[195] loss: 0.427
[196] loss: 0.426
[197] loss: 0.434
[198] loss: 0.448
[199] loss: 0.459
[200] loss: 0.450

In [195]:
from sklearn.metrics import roc_auc_score
net.eval()
print("* train")
with torch.no_grad():
    y_pred1 = net(torch.from_numpy(X_train.toarray().astype('float32')))[:,1]
print(f"\t* ROC_AUC: {roc_auc_score(y_train, y_pred1)}")

print("* test")
with torch.no_grad():
    y_pred1 = net(torch.from_numpy(X_test.toarray().astype('float32')))[:,1]
print(f"\t* ROC_AUC: {roc_auc_score(y_test, y_pred1)}")

* train
	* ROC_AUC: 0.8960369436549291
* test
	* ROC_AUC: 0.7553192052905189